/*  your css code here. If applicable */
.container{
	margin:0 auto;
	width:380px;
	height:150px;
	border:2px solid black;
	padding:20px;
	border-radius:35px;
	display:flex;
	justify-content:space-between;
	gap:5px;
	align-items:center;
	background-color:grey;
	
	
}
.circle{
	
	height:100px;
	width:100px;
	border:2px solid black;
	border-radius:50px;
}
#green{
	background-color:green;
}
#red{
	background-color:red;
}
#yellow{
	background-color:yellow;
}